@import "../assets/fonts/fonts.css";

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}

a,a:visited {
  text-decoration: none;
  color: white;
}

* {
  box-sizing: border-box;
  font-family: '8bit', Verdana, Geneva, Tahoma, sans-serif;
}

button {
  background-color: rgba(255, 253, 255, 0.5);
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

input {
  background-color: rgba(255, 253, 255, 0.5);
  border-radius: 20px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 12px;
  }
}