body {
  margin: 0;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: skyblue;
  background-image: url("../assets/images/bg_index.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: repeat-x;
}

.link {
  font-size: 40px;
  width: clamp(250px, 50vw,30%);
  display: flex;
  align-items: center;
}

a {
  transition: all 0.5s ease-in;
}

.link:hover a {
  font-size: 44px;
  text-decoration: underline;
}

.link .icon {
  transition: animation 1s linear;
  color: transparent;
  background-color: transparent;

  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.link:hover .icon {
  background-color: gold;
  color: goldenrod;
  border: goldenrod 2px solid;
  outline: gold 2px solid;

  font-size: 25px;
  text-align: center;
  animation: rot-3-d 3s linear infinite;
}

.audioplayer {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
}
.audio_button {
  position: absolute;
  top: 2%;
  right: 2%;
  
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  content: url('../assets/images/mute.svg');
  color: white;
}
.audio_button:hover {
  transform: scale(1.1);
  transition: all 1s;
}

@keyframes rot-3-d {
  0% {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  50% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
  100% {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}
